---
import Layout from "../layouts/Layout.astro";


---

<Layout title="RC Contacts">
<h1>Contacts</h1>
<a href="/" class="homeBtn">Home</a>
</Layout>

<style>
    h1 {
        color: white;
    }
    .homeBtn {
        padding: 5px;
        color: #13151A;
        background-color: whitesmoke;
        text-decoration: none;
        border-radius: 5px;
        box-shadow: 0 0 3px rgba(255, 255, 255, .3);
    }
</style>